/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
  --button-color: #bd1616;
  --light-background: #ffe6e6;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: #000000;
}

h1 {
  font-weight: bold;
  font-size: 500%;
}

p {
  font-weight: normal;
  color: #000000;
}

.top-section {
  background-color: var(--light-background);
  text-align: center;
  padding: 130px 0;
}

.top-section h3 {
  font-weight: normal;
  font-size: 24px;
  color: #595260;
  margin-bottom: 3rem;
}

.top-section p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--button-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

.featured-projects {
  margin: 25px auto;
}

.card img {
  height: 190px;
}

.programming-languages, .contact-info {
  margin: 40px;
}

.programming-languages, .contact-info h2 {
  text-align: center;
  margin-top: 20px;
}

.programming-languages, .contact-info i {
  font-size: 30px;
}

.about-top-section, .contact-top-section, .projects-top-section{
  background-color: var(--light-background);
  text-align: center;
  padding: 75px 0;
}

.about-top-section img{
  border-radius: 50%;
  width: 70%;
}

.certificates{
  margin: 100px 0;
}

.projects-top-section img{
  width: 65%;
}

.projects-top-section i {
  font-size: 80px;
}

.app-button{
  background: var(--button-color);
  border-radius: 4px;
  color: white;
}

 footer .footer-email-link{
  text-decoration: none;
  color: #000;
  transition: all 100ms ease-in-out;
}

footer .footer-email-link:hover{
  color: var(--button-color);
}


footer .footer-social-links a {
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--light-background);
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .footer-social-links a:hover {
  color: white;
  background-color: var(--button-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 36px;
  }

  h3{
    font-size: 20px;
  }

  .top-section {
    padding: 16px 0;
  }

  .top-section h3{
    font-size: 12px;
    margin-bottom: 15px;
  }

  .top-section p{
    font-size: 17px;
  }

  .btn-branding{
    padding: 7px;
    font-size: 10px;
  }

  .programming-languages p {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .project-img{
    display: none;
  }

  .projects h3, p{
    text-align: center;
  }

  .app-button{
    display: flex;
    margin: auto;
  }

}